In [1]:
import pandas as pd

In [2]:
player = ['a','b','c','d','e']

In [3]:
nationality = ['p','q','r','s','t']

In [4]:
club = ['z','y','x','w','v']

In [5]:
world_champion = [True,False,True,False,True]

In [6]:
height = [1.2,1.3,1.4,1.5,1]

In [7]:
goals = [122,99,123,334,222]

In [8]:
dic = {'Player':player,'Country':nationality,'Club':club,'Champion':world_champion,'Height':height,'Goals':goals}

In [9]:
dic

{'Player': ['a', 'b', 'c', 'd', 'e'],
 'Country': ['p', 'q', 'r', 's', 't'],
 'Club': ['z', 'y', 'x', 'w', 'v'],
 'Champion': [True, False, True, False, True],
 'Height': [1.2, 1.3, 1.4, 1.5, 1],
 'Goals': [122, 99, 123, 334, 222]}

In [12]:
df = pd.DataFrame(data = dic)

In [13]:
df

  Player Country Club  Champion  Height  Goals
0      a       p    z      True     1.2    122
1      b       q    y     False     1.3     99
2      c       r    x      True     1.4    123
3      d       s    w     False     1.5    334
4      e       t    v      True     1.0    222

In [16]:
players = df.set_index('Player')

In [17]:
players

       Country Club  Champion  Height  Goals
Player
a            p    z      True     1.2    122
b            q    y     False     1.3     99
c            r    x      True     1.4    123
d            s    w     False     1.5    334
e            t    v      True     1.0    222

In [18]:
list(zip(player,nationality,club,world_champion,height,goals))

[('a', 'p', 'z', True, 1.2, 122),
 ('b', 'q', 'y', False, 1.3, 99),
 ('c', 'r', 'x', True, 1.4, 123),
 ('d', 's', 'w', False, 1.5, 334),
 ('e', 't', 'v', True, 1, 222)]

In [19]:
zipped = list(zip(player,nationality,club,world_champion,height,goals))

In [22]:
a,b,c,d,e=zipped

In [23]:
a

('a', 'p', 'z', True, 1.2, 122)

In [24]:
players.reset_index(inplace=True)

In [25]:
players

  Player Country Club  Champion  Height  Goals
0      a       p    z      True     1.2    122
1      b       q    y     False     1.3     99
2      c       r    x      True     1.4    123
3      d       s    w     False     1.5    334
4      e       t    v      True     1.0    222

In [26]:
players.loc[5,:]=['f','g','h',True,1.9,100]

In [27]:
players

  Player Country Club Champion  Height  Goals
0      a       p    z     True     1.2  122.0
1      b       q    y    False     1.3   99.0
2      c       r    x     True     1.4  123.0
3      d       s    w    False     1.5  334.0
4      e       t    v     True     1.0  222.0
5      f       g    h     True     1.9  100.0

In [28]:
new = pd.DataFrame(data =[['f','g','h',True,1.9,100],['f','g','h',True,1.9,100]],columns = player.columns)

AttributeError: 'list' object has no attribute 'columns'