In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv("C:\\Users\\subha\\Course_Materials_Part1\\Course_Materials_Part1\\Video_Lecture_NBs\\titanic.csv")

In [3]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [4]:
titanic["age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [5]:
type(titanic["age"])

pandas.core.series.Series

In [6]:
age = titanic["age"]

In [7]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [8]:
age.dtype

dtype('float64')

In [9]:
age.shape

(891,)

In [10]:
len(age)

891

In [11]:
age.index

RangeIndex(start=0, stop=891, step=1)

In [12]:
age.info()

<class 'pandas.core.series.Series'>
RangeIndex: 891 entries, 0 to 890
Series name: age
Non-Null Count  Dtype
--------------  -----
714 non-null    float64
dtypes: float64(1)
memory usage: 7.1 KB

In [13]:
age.to_frame()

      age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
886  27.0
887  19.0
888   NaN
889  26.0
890  32.0

[891 rows x 1 columns]

In [14]:
age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

## Analyzing Numerical Series

In [15]:
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [16]:
age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

In [17]:
age.count()

714

In [18]:
age.size

891

In [19]:
len(age)

891

In [20]:
age.sum()

21205.17

In [21]:
sum(age)

nan

In [22]:
age.mean()

29.69911764705882

In [23]:
age.median()

28.0

In [24]:
age.std()

14.526497332334044

In [25]:
age.min()

0.42

In [26]:
age.max()

80.0

In [27]:
age.var()

211.0191247463081

In [28]:
age.unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [29]:
len(age.unique())

89

In [30]:
age.nunique()

88

In [31]:
age.value_counts()

24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: age, Length: 88, dtype: int64

In [32]:
age.value_counts(sort = False)

22.00    27
38.00    11
26.00    18
35.00    18
54.00     8
         ..
0.67      1
30.50     2
0.42      1
34.50     1
74.00     1
Name: age, Length: 88, dtype: int64

In [33]:
age.value_counts(sort = True)

24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: age, Length: 88, dtype: int64

In [34]:
age.value_counts(dropna=False)

NaN      177
24.00     30
22.00     27
18.00     26
28.00     25
        ...
36.50      1
55.50      1
0.92       1
23.50      1
74.00      1
Name: age, Length: 89, dtype: int64

In [35]:
age.value_counts(sort = True, dropna = True, ascending=False, normalize=False)

24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: age, Length: 88, dtype: int64

In [36]:
age.value_counts(sort = True, dropna = True, ascending=False, normalize=True)

24.00    0.042017
22.00    0.037815
18.00    0.036415
19.00    0.035014
28.00    0.035014
           ...
36.50    0.001401
55.50    0.001401
0.92     0.001401
23.50    0.001401
74.00    0.001401
Name: age, Length: 88, dtype: float64

In [37]:
age.value_counts(sort = True, dropna = True, ascending=False, normalize=False, bins = 5)

(16.336, 32.252]    346
(32.252, 48.168]    188
(0.339, 16.336]     100
(48.168, 64.084]     69
(64.084, 80.0]       11
Name: age, dtype: int64

In [38]:
age.value_counts(sort = True, dropna = True, ascending=False, normalize=False, bins = 10)

(16.336, 24.294]    177
(24.294, 32.252]    169
(32.252, 40.21]     118
(40.21, 48.168]      70
(0.339, 8.378]       54
(8.378, 16.336]      46
(48.168, 56.126]     45
(56.126, 64.084]     24
(64.084, 72.042]      9
(72.042, 80.0]        2
Name: age, dtype: int64

In [39]:
age.value_counts(sort = True, dropna = True, ascending=False, normalize=True, bins = 10)

(16.336, 24.294]    0.198653
(24.294, 32.252]    0.189675
(32.252, 40.21]     0.132435
(40.21, 48.168]     0.078563
(0.339, 8.378]      0.060606
(8.378, 16.336]     0.051627
(48.168, 56.126]    0.050505
(56.126, 64.084]    0.026936
(64.084, 72.042]    0.010101
(72.042, 80.0]      0.002245
Name: age, dtype: float64

# #Analyzing Non Numerical Values

In [40]:
summer = pd.read_csv("C:\\Users\\subha\\Course_Materials_Part1\\Course_Materials_Part1\\Video_Lecture_NBs\\summer.csv")

In [41]:
summer

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [42]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [43]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [44]:
athlete = summer['Athlete']

In [45]:
athlete.head()

0         HAJOS, Alfred
1      HERSCHMANN, Otto
2     DRIVAS, Dimitrios
3    MALOKINIS, Ioannis
4    CHASAPIS, Spiridon
Name: Athlete, dtype: object

In [46]:
type(athlete)

pandas.core.series.Series

In [47]:
athlete.dtype

dtype('O')

In [48]:
athlete.shape

(31165,)

In [49]:
athlete.describe()

count               31165
unique              22762
top       PHELPS, Michael
freq                   22
Name: Athlete, dtype: object

In [50]:
athlete.size

31165

In [51]:
athlete.count()

31165

In [52]:
athlete.min()

'AABYE, Edgar'

In [53]:
athlete.unique()

array(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios', ...,
       'TOTROV, Rustam', 'ALEKSANYAN, Artur', 'LIDBERG, Jimmy'],
      dtype=object)

In [54]:
len(athlete.unique())

22762

In [55]:
athlete.nunique()

22762

In [56]:
athlete.value_counts()

PHELPS, Michael          22
LATYNINA, Larisa         18
ANDRIANOV, Nikolay       15
ONO, Takashi             13
MANGIAROTTI, Edoardo     13
                         ..
ZAKA, Uddin               1
ZAFAR, Hayat              1
MUHAMMAD, Rashid          1
MANNA, Muhammad Afzal     1
LIDBERG, Jimmy            1
Name: Athlete, Length: 22762, dtype: int64

In [57]:
athlete.value_counts(sort = True, ascending=True)

UDVARDI, Istvan        1
LIM, Jin-Suk           1
LEE, Sang-Hyo          1
KOH, Suk-Chang         1
KIM, Jae-Hwan          1
                      ..
ONO, Takashi          13
SHAKHLIN, Boris       13
ANDRIANOV, Nikolay    15
LATYNINA, Larisa      18
PHELPS, Michael       22
Name: Athlete, Length: 22762, dtype: int64

In [58]:
athlete.value_counts(sort = True, ascending=True, normalize = True)

UDVARDI, Istvan       0.000032
LIM, Jin-Suk          0.000032
LEE, Sang-Hyo         0.000032
KOH, Suk-Chang        0.000032
KIM, Jae-Hwan         0.000032
                        ...
ONO, Takashi          0.000417
SHAKHLIN, Boris       0.000417
ANDRIANOV, Nikolay    0.000481
LATYNINA, Larisa      0.000578
PHELPS, Michael       0.000706
Name: Athlete, Length: 22762, dtype: float64

In [59]:
athlete.value_counts(sort = True, ascending=True, normalize = True).sum()

0.9999999999999996

## Creating a Panda Series

In [60]:
summer

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [61]:
summer.iloc[0]

Year                    1896
City                  Athens
Sport               Aquatics
Discipline          Swimming
Athlete        HAJOS, Alfred
Country                  HUN
Gender                   Men
Event         100M Freestyle
Medal                   Gold
Name: 0, dtype: object

In [62]:
pd.read_csv("C:\\Users\\subha\\Course_Materials_Part1\\Course_Materials_Part1\\Video_Lecture_NBs\\summer.csv",usecols=['Athlete'],squeeze=True)

C:\Users\subha\AppData\Local\Temp\ipykernel_6340\3115491692.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pd.read_csv("C:\\Users\\subha\\Course_Materials_Part1\\Course_Materials_Part1\\Video_Lecture_NBs\\summer.csv",usecols=['Athlete'],squeeze=True)

0                    HAJOS, Alfred
1                 HERSCHMANN, Otto
2                DRIVAS, Dimitrios
3               MALOKINIS, Ioannis
4               CHASAPIS, Spiridon
                   ...
31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object

In [63]:
pd.Series([10,20,30,40])

0    10
1    20
2    30
3    40
dtype: int64

In [64]:
pd.Series([10,20,30,40], index = ['Mon', 'Sun', 'Tue', 'Sat'])

Mon    10
Sun    20
Tue    30
Sat    40
dtype: int64

In [65]:
pd.Series([10,20,30,40], index = ['Mon', 'Sun', 'Tue', 'Sat'], name='Sales')

Mon    10
Sun    20
Tue    30
Sat    40
Name: Sales, dtype: int64

In [66]:
import numpy as np

In [67]:
sales = np.array([10,20,30,40,50])
sales

array([10, 20, 30, 40, 50])

In [68]:
pd.Series(sales)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [69]:
sales = [10,20,30,40,50]

In [70]:
pd.Series(sales)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [71]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [72]:
age = titanic['age']

In [73]:
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [74]:
age[0]

22.0

In [75]:
age[0:7]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
Name: age, dtype: float64

In [76]:
age[-1:]

890    32.0
Name: age, dtype: float64

In [77]:
age.iloc[-1]

32.0

In [78]:
age[[4,7]]

4    35.0
7     2.0
Name: age, dtype: float64

In [79]:
age.iloc[:3]

0    22.0
1    38.0
2    26.0
Name: age, dtype: float64

In [80]:
age.loc[:3]

0    22.0
1    38.0
2    26.0
3    35.0
Name: age, dtype: float64

In [81]:
summer = pd.read_csv("C:\\Users\\subha\\Course_Materials_Part1\\Course_Materials_Part1\\Video_Lecture_NBs\\summer.csv", index_col='Athlete')

In [82]:
event = summer['Event']

In [83]:
event.head()

Athlete
HAJOS, Alfred                     100M Freestyle
HERSCHMANN, Otto                  100M Freestyle
DRIVAS, Dimitrios     100M Freestyle For Sailors
MALOKINIS, Ioannis    100M Freestyle For Sailors
CHASAPIS, Spiridon    100M Freestyle For Sailors
Name: Event, dtype: object

In [84]:
event['PHELPS, Michael']

Athlete
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
Name: Event, dtype: object

In [85]:
event[0]

'100M Freestyle'

In [86]:
event[-1]

'Wg 96 KG'

In [87]:
event.iloc[:5]

Athlete
HAJOS, Alfred                     100M Freestyle
HERSCHMANN, Otto                  100M Freestyle
DRIVAS, Dimitrios     100M Freestyle For Sailors
MALOKINIS, Ioannis    100M Freestyle For Sailors
CHASAPIS, Spiridon    100M Freestyle For Sailors
Name: Event, dtype: object

In [88]:
event.loc['PHELPS, Michael']

Athlete
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
Name: Event, dtype: object

In [89]:
event['PHELPS, Michael']

Athlete
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
Name: Event, dtype: object

In [90]:
dic = {1:10,3:25,2:6,4:36,5:2,6:0,7:None}

In [91]:
dic

{1: 10, 3: 25, 2: 6, 4: 36, 5: 2, 6: 0, 7: None}

In [92]:
sales = pd.Series(dic)

In [93]:
sales

1    10.0
3    25.0
2     6.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [94]:
sales.sort_index()

1    10.0
2     6.0
3    25.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [95]:
sales.sort_index(ascending=False)

7     NaN
6     0.0
5     2.0
4    36.0
3    25.0
2     6.0
1    10.0
dtype: float64

In [96]:
sales

1    10.0
3    25.0
2     6.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [97]:
sales.sort_index(ascending=True,inplace=True)

In [98]:
sales

1    10.0
2     6.0
3    25.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [99]:
sales.sort_values(inplace=False)

6     0.0
5     2.0
2     6.0
1    10.0
3    25.0
4    36.0
7     NaN
dtype: float64

In [100]:
sales.sort_values(inplace=True)

In [101]:
sales

6     0.0
5     2.0
2     6.0
1    10.0
3    25.0
4    36.0
7     NaN
dtype: float64

In [102]:
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [103]:
age.nlargest(10)

630    80.0
851    74.0
96     71.0
493    71.0
116    70.5
672    70.0
745    70.0
33     66.0
54     65.0
280    65.0
Name: age, dtype: float64

In [104]:
age.nsmallest(10)

803    0.42
755    0.67
469    0.75
644    0.75
78     0.83
831    0.83
305    0.92
164    1.00
172    1.00
183    1.00
Name: age, dtype: float64

In [105]:
age.sort_values(ascending=False)

630    80.0
851    74.0
493    71.0
96     71.0
116    70.5
       ...
859     NaN
863     NaN
868     NaN
878     NaN
888     NaN
Name: age, Length: 891, dtype: float64

In [106]:
age.sort_values(ascending=False).head(3)

630    80.0
851    74.0
493    71.0
Name: age, dtype: float64

In [107]:
age.idxmin()

803

In [108]:
age.min()

0.42

In [109]:
age[803]

0.42

In [110]:
age.idxmax()

630

In [111]:
age[630]

80.0

In [112]:
titanic.iloc[630]

survived       1
pclass         1
sex         male
age         80.0
sibsp          0
parch          0
fare        30.0
embarked       S
deck           A
Name: 630, dtype: object

In [113]:
titanic.loc[titanic.age.idxmin()]

survived         1
pclass           3
sex           male
age           0.42
sibsp            0
parch            1
fare        8.5167
embarked         C
deck           NaN
Name: 803, dtype: object

In [114]:
sales

6     0.0
5     2.0
2     6.0
1    10.0
3    25.0
4    36.0
7     NaN
dtype: float64

In [115]:
sales = pd.Series([10,20,30,40,50,60,0,None], index = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun', 'Mon'])
sales

Mon    10.0
Tue    20.0
Wed    30.0
Thu    40.0
Fri    50.0
Sat    60.0
Sun     0.0
Mon     NaN
dtype: float64

In [116]:
sales['Sun']

0.0

In [117]:
sales['Mon']

Mon    10.0
Mon     NaN
dtype: float64

In [118]:
sales/1.1

Mon     9.090909
Tue    18.181818
Wed    27.272727
Thu    36.363636
Fri    45.454545
Sat    54.545455
Sun     0.000000
Mon          NaN
dtype: float64

In [119]:
sales_Eur = (sales/1.1).round(2)

In [120]:
sales_Eur

Mon     9.09
Tue    18.18
Wed    27.27
Thu    36.36
Fri    45.45
Sat    54.55
Sun     0.00
Mon      NaN
dtype: float64

In [121]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [122]:
summer.index

Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
       'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
       'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
       'NEUMANN, Paul',
       ...
       'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
       'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
       'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
       'LIDBERG, Jimmy'],
      dtype='object', name='Athlete', length=31165)

In [123]:
summer = pd.read_csv("C:\\Users\\subha\\Course_Materials_Part1\\Course_Materials_Part1\\Video_Lecture_NBs\\summer.csv",index_col='Athlete')

In [124]:
summer.index

Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
       'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
       'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
       'NEUMANN, Paul',
       ...
       'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
       'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
       'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
       'LIDBERG, Jimmy'],
      dtype='object', name='Athlete', length=31165)

In [125]:
type(summer.index)

pandas.core.indexes.base.Index

In [126]:
summer.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Country', 'Gender', 'Event',
       'Medal'],
      dtype='object')

In [127]:
type(summer.columns)

pandas.core.indexes.base.Index

In [128]:
summer.axes

[Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
        'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
        'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
        'NEUMANN, Paul',
        ...
        'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
        'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
        'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
        'LIDBERG, Jimmy'],
       dtype='object', name='Athlete', length=31165),
 Index(['Year', 'City', 'Sport', 'Discipline', 'Country', 'Gender', 'Event',
        'Medal'],
       dtype='object')]

In [129]:
summer.columns[:3]

Index(['Year', 'City', 'Sport'], dtype='object')

In [130]:
summer.index[0]

'HAJOS, Alfred'

In [131]:
summer.index.is_unique

False

In [132]:
summer.index.get_loc("DRIVAS, Dimitrios")

2

In [133]:
summer.index.get_loc("PHELPS, Michael")

array([False, False, False, ..., False, False, False])

In [134]:
list_1 = [1,2,3]

In [135]:
pd.Index(list_1)

Int64Index([1, 2, 3], dtype='int64')

In [136]:
list_2 = ['m','t','w']

In [137]:
pd.Index(list_2)

Index(['m', 't', 'w'], dtype='object')

In [138]:
index_1 = pd.Index(range(1,4))
index_1

RangeIndex(start=1, stop=4, step=1)

In [139]:
index_2 = pd.Index(['M', 'T', 'W'], name = 'days')
index_2

Index(['M', 'T', 'W'], dtype='object', name='days')

In [140]:
pd.Series([34,45,55], index = index_2)

days
M    34
T    45
W    55
dtype: int64

In [141]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [142]:
summer.reset_index()

,Athlete,Year,City,Sport,Discipline,Country,Gender,Event,Medal
0,"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
1,"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
2,"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
3,"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
4,"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
31161,"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
31162,"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
31163,"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
31164,"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [143]:
summer.set_index('Year', drop = False)

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Year,,,,,,,,
1896,1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
1896,1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
1896,1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
1896,1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
1896,1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
2012,2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
2012,2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
2012,2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
2012,2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
2012,2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [144]:
summer.set_index('Year', drop = True)

,City,Sport,Discipline,Country,Gender,Event,Medal
Year,,,,,,,
1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...
2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [146]:
summer.index.size

31165

In [147]:
new_index = ['Medal No{}'.format(i) for i in range(1, summer.index.size+1)]
new_index

['Medal No1',
 'Medal No2',
 'Medal No3',
 'Medal No4',
 'Medal No5',
 'Medal No6',
 'Medal No7',
 'Medal No8',
 'Medal No9',
 'Medal No10',
 'Medal No11',
 'Medal No12',
 'Medal No13',
 'Medal No14',
 'Medal No15',
 'Medal No16',
 'Medal No17',
 'Medal No18',
 'Medal No19',
 'Medal No20',
 'Medal No21',
 'Medal No22',
 'Medal No23',
 'Medal No24',
 'Medal No25',
 'Medal No26',
 'Medal No27',
 'Medal No28',
 'Medal No29',
 'Medal No30',
 'Medal No31',
 'Medal No32',
 'Medal No33',
 'Medal No34',
 'Medal No35',
 'Medal No36',
 'Medal No37',
 'Medal No38',
 'Medal No39',
 'Medal No40',
 'Medal No41',
 'Medal No42',
 'Medal No43',
 'Medal No44',
 'Medal No45',
 'Medal No46',
 'Medal No47',
 'Medal No48',
 'Medal No49',
 'Medal No50',
 'Medal No51',
 'Medal No52',
 'Medal No53',
 'Medal No54',
 'Medal No55',
 'Medal No56',
 'Medal No57',
 'Medal No58',
 'Medal No59',
 'Medal No60',
 'Medal No61',
 'Medal No62',
 'Medal No63',
 'Medal No64',
 'Medal No65',
 'Medal No66',
 'Medal No67',
 'Medal No68',
 'Medal No69',
 'Medal No70',
 'Medal No71',
 'Medal No72',
 'Medal No73',
 'Medal No74',
 'Medal No75',
 'Medal No76',
 'Medal No77',
 'Medal No78',
 'Medal No79',
 'Medal No80',
 'Medal No81',
 'Medal No82',
 'Medal No83',
 'Medal No84',
 'Medal No85',
 'Medal No86',
 'Medal No87',
 'Medal No88',
 'Medal No89',
 'Medal No90',
 'Medal No91',
 'Medal No92',
 'Medal No93',
 'Medal No94',
 'Medal No95',
 'Medal No96',
 'Medal No97',
 'Medal No98',
 'Medal No99',
 'Medal No100',
 'Medal No101',
 'Medal No102',
 'Medal No103',
 'Medal No104',
 'Medal No105',
 'Medal No106',
 'Medal No107',
 'Medal No108',
 'Medal No109',
 'Medal No110',
 'Medal No111',
 'Medal No112',
 'Medal No113',
 'Medal No114',
 'Medal No115',
 'Medal No116',
 'Medal No117',
 'Medal No118',
 'Medal No119',
 'Medal No120',
 'Medal No121',
 'Medal No122',
 'Medal No123',
 'Medal No124',
 'Medal No125',
 'Medal No126',
 'Medal No127',
 'Medal No128',
 'Medal No129',
 'Medal No130',
 'Medal No131',
 'Medal No132',
 'Medal No133',
 'Medal No134',
 'Medal No135',
 'Medal No136',
 'Medal No137',
 'Medal No138',
 'Medal No139',
 'Medal No140',
 'Medal No141',
 'Medal No142',
 'Medal No143',
 'Medal No144',
 'Medal No145',
 'Medal No146',
 'Medal No147',
 'Medal No148',
 'Medal No149',
 'Medal No150',
 'Medal No151',
 'Medal No152',
 'Medal No153',
 'Medal No154',
 'Medal No155',
 'Medal No156',
 'Medal No157',
 'Medal No158',
 'Medal No159',
 'Medal No160',
 'Medal No161',
 'Medal No162',
 'Medal No163',
 'Medal No164',
 'Medal No165',
 'Medal No166',
 'Medal No167',
 'Medal No168',
 'Medal No169',
 'Medal No170',
 'Medal No171',
 'Medal No172',
 'Medal No173',
 'Medal No174',
 'Medal No175',
 'Medal No176',
 'Medal No177',
 'Medal No178',
 'Medal No179',
 'Medal No180',
 'Medal No181',
 'Medal No182',
 'Medal No183',
 'Medal No184',
 'Medal No185',
 'Medal No186',
 'Medal No187',
 'Medal No188',
 'Medal No189',
 'Medal No190',
 'Medal No191',
 'Medal No192',
 'Medal No193',
 'Medal No194',
 'Medal No195',
 'Medal No196',
 'Medal No197',
 'Medal No198',
 'Medal No199',
 'Medal No200',
 'Medal No201',
 'Medal No202',
 'Medal No203',
 'Medal No204',
 'Medal No205',
 'Medal No206',
 'Medal No207',
 'Medal No208',
 'Medal No209',
 'Medal No210',
 'Medal No211',
 'Medal No212',
 'Medal No213',
 'Medal No214',
 'Medal No215',
 'Medal No216',
 'Medal No217',
 'Medal No218',
 'Medal No219',
 'Medal No220',
 'Medal No221',
 'Medal No222',
 'Medal No223',
 'Medal No224',
 'Medal No225',
 'Medal No226',
 'Medal No227',
 'Medal No228',
 'Medal No229',
 'Medal No230',
 'Medal No231',
 'Medal No232',
 'Medal No233',
 'Medal No234',
 'Medal No235',
 'Medal No236',
 'Medal No237',
 'Medal No238',
 'Medal No239',
 'Medal No240',
 'Medal No241',
 'Medal No242',
 'Medal No243',
 'Medal No244',
 'Medal No245',
 'Medal No246',
 'Medal No247',
 'Medal No248',
 'Medal No249',
 'Medal No250',
 'Medal No251',
 'Medal No252',
 'Medal No253',
 'Medal No254',
 'Medal No255',
 'Medal No256',
 'Medal No257',
 'Medal No258',
 'Medal No259',
 'Medal No260',
 'Medal No261',
 'Medal No262',
 'Medal No263',
 'Medal No264',
 'Medal No265',
 'Medal No266',
 'Medal No267',
 'Medal No268',
 'Medal No269',
 'Medal No270',
 'Medal No271',
 'Medal No272',
 'Medal No273',
 'Medal No274',
 'Medal No275',
 'Medal No276',
 'Medal No277',
 'Medal No278',
 'Medal No279',
 'Medal No280',
 'Medal No281',
 'Medal No282',
 'Medal No283',
 'Medal No284',
 'Medal No285',
 'Medal No286',
 'Medal No287',
 'Medal No288',
 'Medal No289',
 'Medal No290',
 'Medal No291',
 'Medal No292',
 'Medal No293',
 'Medal No294',
 'Medal No295',
 'Medal No296',
 'Medal No297',
 'Medal No298',
 'Medal No299',
 'Medal No300',
 'Medal No301',
 'Medal No302',
 'Medal No303',
 'Medal No304',
 'Medal No305',
 'Medal No306',
 'Medal No307',
 'Medal No308',
 'Medal No309',
 'Medal No310',
 'Medal No311',
 'Medal No312',
 'Medal No313',
 'Medal No314',
 'Medal No315',
 'Medal No316',
 'Medal No317',
 'Medal No318',
 'Medal No319',
 'Medal No320',
 'Medal No321',
 'Medal No322',
 'Medal No323',
 'Medal No324',
 'Medal No325',
 'Medal No326',
 'Medal No327',
 'Medal No328',
 'Medal No329',
 'Medal No330',
 'Medal No331',
 'Medal No332',
 'Medal No333',
 'Medal No334',
 'Medal No335',
 'Medal No336',
 'Medal No337',
 'Medal No338',
 'Medal No339',
 'Medal No340',
 'Medal No341',
 'Medal No342',
 'Medal No343',
 'Medal No344',
 'Medal No345',
 'Medal No346',
 'Medal No347',
 'Medal No348',
 'Medal No349',
 'Medal No350',
 'Medal No351',
 'Medal No352',
 'Medal No353',
 'Medal No354',
 'Medal No355',
 'Medal No356',
 'Medal No357',
 'Medal No358',
 'Medal No359',
 'Medal No360',
 'Medal No361',
 'Medal No362',
 'Medal No363',
 'Medal No364',
 'Medal No365',
 'Medal No366',
 'Medal No367',
 'Medal No368',
 'Medal No369',
 'Medal No370',
 'Medal No371',
 'Medal No372',
 'Medal No373',
 'Medal No374',
 'Medal No375',
 'Medal No376',
 'Medal No377',
 'Medal No378',
 'Medal No379',
 'Medal No380',
 'Medal No381',
 'Medal No382',
 'Medal No383',
 'Medal No384',
 'Medal No385',
 'Medal No386',
 'Medal No387',
 'Medal No388',
 'Medal No389',
 'Medal No390',
 'Medal No391',
 'Medal No392',
 'Medal No393',
 'Medal No394',
 'Medal No395',
 'Medal No396',
 'Medal No397',
 'Medal No398',
 'Medal No399',
 'Medal No400',
 'Medal No401',
 'Medal No402',
 'Medal No403',
 'Medal No404',
 'Medal No405',
 'Medal No406',
 'Medal No407',
 'Medal No408',
 'Medal No409',
 'Medal No410',
 'Medal No411',
 'Medal No412',
 'Medal No413',
 'Medal No414',
 'Medal No415',
 'Medal No416',
 'Medal No417',
 'Medal No418',
 'Medal No419',
 'Medal No420',
 'Medal No421',
 'Medal No422',
 'Medal No423',
 'Medal No424',
 'Medal No425',
 'Medal No426',
 'Medal No427',
 'Medal No428',
 'Medal No429',
 'Medal No430',
 'Medal No431',
 'Medal No432',
 'Medal No433',
 'Medal No434',
 'Medal No435',
 'Medal No436',
 'Medal No437',
 'Medal No438',
 'Medal No439',
 'Medal No440',
 'Medal No441',
 'Medal No442',
 'Medal No443',
 'Medal No444',
 'Medal No445',
 'Medal No446',
 'Medal No447',
 'Medal No448',
 'Medal No449',
 'Medal No450',
 'Medal No451',
 'Medal No452',
 'Medal No453',
 'Medal No454',
 'Medal No455',
 'Medal No456',
 'Medal No457',
 'Medal No458',
 'Medal No459',
 'Medal No460',
 'Medal No461',
 'Medal No462',
 'Medal No463',
 'Medal No464',
 'Medal No465',
 'Medal No466',
 'Medal No467',
 'Medal No468',
 'Medal No469',
 'Medal No470',
 'Medal No471',
 'Medal No472',
 'Medal No473',
 'Medal No474',
 'Medal No475',
 'Medal No476',
 'Medal No477',
 'Medal No478',
 'Medal No479',
 'Medal No480',
 'Medal No481',
 'Medal No482',
 'Medal No483',
 'Medal No484',
 'Medal No485',
 'Medal No486',
 'Medal No487',
 'Medal No488',
 'Medal No489',
 'Medal No490',
 'Medal No491',
 'Medal No492',
 'Medal No493',
 'Medal No494',
 'Medal No495',
 'Medal No496',
 'Medal No497',
 'Medal No498',
 'Medal No499',
 'Medal No500',
 'Medal No501',
 'Medal No502',
 'Medal No503',
 'Medal No504',
 'Medal No505',
 'Medal No506',
 'Medal No507',
 'Medal No508',
 'Medal No509',
 'Medal No510',
 'Medal No511',
 'Medal No512',
 'Medal No513',
 'Medal No514',
 'Medal No515',
 'Medal No516',
 'Medal No517',
 'Medal No518',
 'Medal No519',
 'Medal No520',
 'Medal No521',
 'Medal No522',
 'Medal No523',
 'Medal No524',
 'Medal No525',
 'Medal No526',
 'Medal No527',
 'Medal No528',
 'Medal No529',
 'Medal No530',
 'Medal No531',
 'Medal No532',
 'Medal No533',
 'Medal No534',
 'Medal No535',
 'Medal No536',
 'Medal No537',
 'Medal No538',
 'Medal No539',
 'Medal No540',
 'Medal No541',
 'Medal No542',
 'Medal No543',
 'Medal No544',
 'Medal No545',
 'Medal No546',
 'Medal No547',
 'Medal No548',
 'Medal No549',
 'Medal No550',
 'Medal No551',
 'Medal No552',
 'Medal No553',
 'Medal No554',
 'Medal No555',
 'Medal No556',
 'Medal No557',
 'Medal No558',
 'Medal No559',
 'Medal No560',
 'Medal No561',
 'Medal No562',
 'Medal No563',
 'Medal No564',
 'Medal No565',
 'Medal No566',
 'Medal No567',
 'Medal No568',
 'Medal No569',
 'Medal No570',
 'Medal No571',
 'Medal No572',
 'Medal No573',
 'Medal No574',
 'Medal No575',
 'Medal No576',
 'Medal No577',
 'Medal No578',
 'Medal No579',
 'Medal No580',
 'Medal No581',
 'Medal No582',
 'Medal No583',
 'Medal No584',
 'Medal No585',
 'Medal No586',
 'Medal No587',
 'Medal No588',
 'Medal No589',
 'Medal No590',
 'Medal No591',
 'Medal No592',
 'Medal No593',
 'Medal No594',
 'Medal No595',
 'Medal No596',
 'Medal No597',
 'Medal No598',
 'Medal No599',
 'Medal No600',
 'Medal No601',
 'Medal No602',
 'Medal No603',
 'Medal No604',
 'Medal No605',
 'Medal No606',
 'Medal No607',
 'Medal No608',
 'Medal No609',
 'Medal No610',
 'Medal No611',
 'Medal No612',
 'Medal No613',
 'Medal No614',
 'Medal No615',
 'Medal No616',
 'Medal No617',
 'Medal No618',
 'Medal No619',
 'Medal No620',
 'Medal No621',
 'Medal No622',
 'Medal No623',
 'Medal No624',
 'Medal No625',
 'Medal No626',
 'Medal No627',
 'Medal No628',
 'Medal No629',
 'Medal No630',
 'Medal No631',
 'Medal No632',
 'Medal No633',
 'Medal No634',
 'Medal No635',
 'Medal No636',
 'Medal No637',
 'Medal No638',
 'Medal No639',
 'Medal No640',
 'Medal No641',
 'Medal No642',
 'Medal No643',
 'Medal No644',
 'Medal No645',
 'Medal No646',
 'Medal No647',
 'Medal No648',
 'Medal No649',
 'Medal No650',
 'Medal No651',
 'Medal No652',
 'Medal No653',
 'Medal No654',
 'Medal No655',
 'Medal No656',
 'Medal No657',
 'Medal No658',
 'Medal No659',
 'Medal No660',
 'Medal No661',
 'Medal No662',
 'Medal No663',
 'Medal No664',
 'Medal No665',
 'Medal No666',
 'Medal No667',
 'Medal No668',
 'Medal No669',
 'Medal No670',
 'Medal No671',
 'Medal No672',
 'Medal No673',
 'Medal No674',
 'Medal No675',
 'Medal No676',
 'Medal No677',
 'Medal No678',
 'Medal No679',
 'Medal No680',
 'Medal No681',
 'Medal No682',
 'Medal No683',
 'Medal No684',
 'Medal No685',
 'Medal No686',
 'Medal No687',
 'Medal No688',
 'Medal No689',
 'Medal No690',
 'Medal No691',
 'Medal No692',
 'Medal No693',
 'Medal No694',
 'Medal No695',
 'Medal No696',
 'Medal No697',
 'Medal No698',
 'Medal No699',
 'Medal No700',
 'Medal No701',
 'Medal No702',
 'Medal No703',
 'Medal No704',
 'Medal No705',
 'Medal No706',
 'Medal No707',
 'Medal No708',
 'Medal No709',
 'Medal No710',
 'Medal No711',
 'Medal No712',
 'Medal No713',
 'Medal No714',
 'Medal No715',
 'Medal No716',
 'Medal No717',
 'Medal No718',
 'Medal No719',
 'Medal No720',
 'Medal No721',
 'Medal No722',
 'Medal No723',
 'Medal No724',
 'Medal No725',
 'Medal No726',
 'Medal No727',
 'Medal No728',
 'Medal No729',
 'Medal No730',
 'Medal No731',
 'Medal No732',
 'Medal No733',
 'Medal No734',
 'Medal No735',
 'Medal No736',
 'Medal No737',
 'Medal No738',
 'Medal No739',
 'Medal No740',
 'Medal No741',
 'Medal No742',
 'Medal No743',
 'Medal No744',
 'Medal No745',
 'Medal No746',
 'Medal No747',
 'Medal No748',
 'Medal No749',
 'Medal No750',
 'Medal No751',
 'Medal No752',
 'Medal No753',
 'Medal No754',
 'Medal No755',
 'Medal No756',
 'Medal No757',
 'Medal No758',
 'Medal No759',
 'Medal No760',
 'Medal No761',
 'Medal No762',
 'Medal No763',
 'Medal No764',
 'Medal No765',
 'Medal No766',
 'Medal No767',
 'Medal No768',
 'Medal No769',
 'Medal No770',
 'Medal No771',
 'Medal No772',
 'Medal No773',
 'Medal No774',
 'Medal No775',
 'Medal No776',
 'Medal No777',
 'Medal No778',
 'Medal No779',
 'Medal No780',
 'Medal No781',
 'Medal No782',
 'Medal No783',
 'Medal No784',
 'Medal No785',
 'Medal No786',
 'Medal No787',
 'Medal No788',
 'Medal No789',
 'Medal No790',
 'Medal No791',
 'Medal No792',
 'Medal No793',
 'Medal No794',
 'Medal No795',
 'Medal No796',
 'Medal No797',
 'Medal No798',
 'Medal No799',
 'Medal No800',
 'Medal No801',
 'Medal No802',
 'Medal No803',
 'Medal No804',
 'Medal No805',
 'Medal No806',
 'Medal No807',
 'Medal No808',
 'Medal No809',
 'Medal No810',
 'Medal No811',
 'Medal No812',
 'Medal No813',
 'Medal No814',
 'Medal No815',
 'Medal No816',
 'Medal No817',
 'Medal No818',
 'Medal No819',
 'Medal No820',
 'Medal No821',
 'Medal No822',
 'Medal No823',
 'Medal No824',
 'Medal No825',
 'Medal No826',
 'Medal No827',
 'Medal No828',
 'Medal No829',
 'Medal No830',
 'Medal No831',
 'Medal No832',
 'Medal No833',
 'Medal No834',
 'Medal No835',
 'Medal No836',
 'Medal No837',
 'Medal No838',
 'Medal No839',
 'Medal No840',
 'Medal No841',
 'Medal No842',
 'Medal No843',
 'Medal No844',
 'Medal No845',
 'Medal No846',
 'Medal No847',
 'Medal No848',
 'Medal No849',
 'Medal No850',
 'Medal No851',
 'Medal No852',
 'Medal No853',
 'Medal No854',
 'Medal No855',
 'Medal No856',
 'Medal No857',
 'Medal No858',
 'Medal No859',
 'Medal No860',
 'Medal No861',
 'Medal No862',
 'Medal No863',
 'Medal No864',
 'Medal No865',
 'Medal No866',
 'Medal No867',
 'Medal No868',
 'Medal No869',
 'Medal No870',
 'Medal No871',
 'Medal No872',
 'Medal No873',
 'Medal No874',
 'Medal No875',
 'Medal No876',
 'Medal No877',
 'Medal No878',
 'Medal No879',
 'Medal No880',
 'Medal No881',
 'Medal No882',
 'Medal No883',
 'Medal No884',
 'Medal No885',
 'Medal No886',
 'Medal No887',
 'Medal No888',
 'Medal No889',
 'Medal No890',
 'Medal No891',
 'Medal No892',
 'Medal No893',
 'Medal No894',
 'Medal No895',
 'Medal No896',
 'Medal No897',
 'Medal No898',
 'Medal No899',
 'Medal No900',
 'Medal No901',
 'Medal No902',
 'Medal No903',
 'Medal No904',
 'Medal No905',
 'Medal No906',
 'Medal No907',
 'Medal No908',
 'Medal No909',
 'Medal No910',
 'Medal No911',
 'Medal No912',
 'Medal No913',
 'Medal No914',
 'Medal No915',
 'Medal No916',
 'Medal No917',
 'Medal No918',
 'Medal No919',
 'Medal No920',
 'Medal No921',
 'Medal No922',
 'Medal No923',
 'Medal No924',
 'Medal No925',
 'Medal No926',
 'Medal No927',
 'Medal No928',
 'Medal No929',
 'Medal No930',
 'Medal No931',
 'Medal No932',
 'Medal No933',
 'Medal No934',
 'Medal No935',
 'Medal No936',
 'Medal No937',
 'Medal No938',
 'Medal No939',
 'Medal No940',
 'Medal No941',
 'Medal No942',
 'Medal No943',
 'Medal No944',
 'Medal No945',
 'Medal No946',
 'Medal No947',
 'Medal No948',
 'Medal No949',
 'Medal No950',
 'Medal No951',
 'Medal No952',
 'Medal No953',
 'Medal No954',
 'Medal No955',
 'Medal No956',
 'Medal No957',
 'Medal No958',
 'Medal No959',
 'Medal No960',
 'Medal No961',
 'Medal No962',
 'Medal No963',
 'Medal No964',
 'Medal No965',
 'Medal No966',
 'Medal No967',
 'Medal No968',
 'Medal No969',
 'Medal No970',
 'Medal No971',
 'Medal No972',
 'Medal No973',
 'Medal No974',
 'Medal No975',
 'Medal No976',
 'Medal No977',
 'Medal No978',
 'Medal No979',
 'Medal No980',
 'Medal No981',
 'Medal No982',
 'Medal No983',
 'Medal No984',
 'Medal No985',
 'Medal No986',
 'Medal No987',
 'Medal No988',
 'Medal No989',
 'Medal No990',
 'Medal No991',
 'Medal No992',
 'Medal No993',
 'Medal No994',
 'Medal No995',
 'Medal No996',
 'Medal No997',
 'Medal No998',
 'Medal No999',
 'Medal No1000',
 ...]

In [148]:
summer.index = new_index

In [149]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Medal No1,1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
Medal No2,1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
Medal No3,1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
Medal No4,1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
Medal No5,1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
Medal No31161,2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
Medal No31162,2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
Medal No31163,2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
Medal No31164,2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
Medal No31165,2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [150]:
summer.index.is_unique

True

In [151]:
summer.index.name = 'Medal No'

In [152]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Medal No,,,,,,,,
Medal No1,1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
Medal No2,1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
Medal No3,1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
Medal No4,1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
Medal No5,1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [153]:
summer.reset_index()

,Medal No,Year,City,Sport,Discipline,Country,Gender,Event,Medal
0,Medal No1,1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
1,Medal No2,1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
2,Medal No3,1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
3,Medal No4,1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
4,Medal No5,1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,Medal No31161,2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
31161,Medal No31162,2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
31162,Medal No31163,2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
31163,Medal No31164,2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
31164,Medal No31165,2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [154]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [155]:
titanic.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'deck'],
      dtype='object')

In [156]:
titanic.columns[0]

'survived'

In [158]:
titanic.columns = ['Alive','pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'deck' ]

In [159]:
titanic.columns

Index(['Alive', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked',
       'deck'],
      dtype='object')

In [160]:
titanic.head()

   Alive  pclass     sex   age  sibsp  parch     fare embarked deck
0      0       3    male  22.0      1      0   7.2500        S  NaN
1      1       1  female  38.0      1      0  71.2833        C    C
2      1       3  female  26.0      0      0   7.9250        S  NaN
3      1       1  female  35.0      1      0  53.1000        S    C
4      0       3    male  35.0      0      0   8.0500        S  NaN

In [163]:
titanic.columns.name

In [164]:
titanic.columns.name = 'Titanic_Data'

In [165]:
titanic.head()

Titanic_Data  Alive  pclass     sex   age  sibsp  parch     fare embarked deck
0                 0       3    male  22.0      1      0   7.2500        S  NaN
1                 1       1  female  38.0      1      0  71.2833        C    C
2                 1       3  female  26.0      0      0   7.9250        S  NaN
3                 1       1  female  35.0      1      0  53.1000        S    C
4                 0       3    male  35.0      0      0   8.0500        S  NaN

In [166]:
titanic.index.name

In [167]:
titanic.index.name="Passenger_No"

In [168]:
titanic.head()

Titanic_Data  Alive  pclass     sex   age  sibsp  parch     fare embarked deck
Passenger_No
0                 0       3    male  22.0      1      0   7.2500        S  NaN
1                 1       1  female  38.0      1      0  71.2833        C    C
2                 1       3  female  26.0      0      0   7.9250        S  NaN
3                 1       1  female  35.0      1      0  53.1000        S    C
4                 0       3    male  35.0      0      0   8.0500        S  NaN

In [170]:
summer = pd.read_csv("C:\\Users\\subha\\Course_Materials_Part1\\Course_Materials_Part1\\Video_Lecture_NBs\\summer.csv",index_col='Athlete')

In [171]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [172]:
summer.index[0]

'HAJOS, Alfred'

In [173]:
summer.rename(mapper = {'HAJOS, Alfred':'Abdur Rehman'}, axis = 'index')

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
Abdur Rehman,1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [174]:
summer.rename(index = {'HERSCHMANN, Otto':'Abdur Rehman'}, inplace = True)

In [175]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
Abdur Rehman,1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [178]:
summer.rename(mapper={'Gender':'Sex'},axis='columns')

,Year,City,Sport,Discipline,Country,Sex,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
Abdur Rehman,1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [179]:
summer.rename(columns={'Gender':'Sex','City':'Host_City'},inplace = True)

In [180]:
summer

,Year,Host_City,Sport,Discipline,Country,Sex,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
Abdur Rehman,1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze